/** Global */
* {
    box-sizing: border-box;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;
    background: none;
}
.wrapper {
    padding: 15px;
}

/** Forms */
.form-group {
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}
.form-group__toggle .input-label {
    margin: 0;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
}
.form-group__toggle .input-control {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/** Toggle */
.form-group__toggle .input-ui {
    padding: 2px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    transition: border 0.3s;
    border: 2px solid #666;
}
.form-group__toggle .input-ui:after {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s;
}
.form-group__toggle input:checked ~ .input-ui {
    border-color: #00ab80;
}
.form-group__toggle input:checked ~ .input-ui:after {
    background-color: #00ab80;
}
